/* src/styles/global.css */
@import "tailwindcss";

@theme {
  --color-brand-emerald:   #1B998B;
  --color-brand-black:     #000000;
  --color-brand-white:     #FFFFFF;
  --color-brand-lightgray: #F5F5F5;
}
