<section class="bg-brand-black py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="flex flex-col pb-10 sm:pb-16 lg:pr-8 lg:pb-0 xl:pr-20">
        <img src="https://tailwindcss.com/plus-assets/img/logos/tuple-logo-gray-900.svg" alt="" class="h-12 self-start dark:hidden" />
        <img src="https://tailwindcss.com/plus-assets/img/logos/tuple-logo-white.svg" alt="" class="h-12 self-start not-dark:hidden" />
        <figure class="mt-10 flex flex-auto flex-col justify-between">
          <blockquote class="text-lg/8 text-gray-900 dark:text-gray-100">
            <p>"Unwritten Agency's strategies <span class="pop">penetrate deep</span> into the marketplace, <span class="pop">faster and harder</span> than any competitor I've seen. Their campaigns don't just spread awareness — they <span class="pop">dominate it</span>. If you want results that are <span class="pop">powerful, efficient, and unstoppable</span>… this is the team to trust."</p>
          </blockquote>
          <figcaption class="mt-10 flex items-center gap-x-6">
            <img src="/images/dwight.jpg" alt="" class="size-14 rounded-full bg-gray-50 dark:bg-gray-800" />
            <div class="text-base">
              <div class="font-semibold text-gray-900 dark:text-white">Judith Black</div>
              <div class="mt-1 text-gray-500 dark:text-gray-400">CEO of Tuple</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <div class="flex flex-col border-t border-gray-900/10 pt-10 sm:pt-16 lg:border-t-0 lg:border-l lg:pt-0 lg:pl-8 xl:pl-20 dark:border-white/10">
        <img src="https://tailwindcss.com/plus-assets/img/logos/reform-logo-gray-900.svg" alt="" class="h-12 self-start dark:hidden" />
        <img src="https://tailwindcss.com/plus-assets/img/logos/reform-logo-white.svg" alt="" class="h-12 self-start not-dark:hidden" />
        <figure class="mt-10 flex flex-auto flex-col justify-between">
          <blockquote class="text-lg/8 text-gray-900 dark:text-gray-100">
            <p>“THAT'S WHAT SHE SAID!”</p>
            <p>“THAT'S WHAT SHE SAID!”</p>
            <p>“THAT'S WHAT SHE SAID!”</p>
            <p>“THAT'S WHAT SHE SAID!”</p>
          </blockquote>
          <figcaption class="mt-10 flex items-center gap-x-6">
            <img src="/images/michael.jpg" alt="" class="size-14 rounded-full bg-gray-50 dark:bg-gray-800" />
            <div class="text-base">
              <div class="font-semibold text-gray-900 dark:text-white">Joseph Rodriguez</div>
              <div class="mt-1 text-gray-500 dark:text-gray-400">CEO of Reform</div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<style>
  @keyframes flash-color {
    0% { color: white; }
    100% { color: var(--color-brand-emerald); }
  }

  .pop {
    animation: flash-color 1s infinite alternate;
    font-weight: 600;
  }
</style>